{% load static %}
{% load i18n %}
<footer>
    <div class="float1">
        <div class="box">
            <h1>Media</h1>
            <a href="" class="btn"><img src="../../static/media/317725_linkedin_social_icon.svg" alt=""></a>
            <a href="" class="btn"><img src="../../static/media/317727_facebook_social media_social_icon.svg" alt=""></a>
            <a href="" class="btn"><img src="../../static/media/386747_whatsapp_call_whats app_icon.svg" alt=""></a>
            <a href="" class="btn"><img src="../../static/media/986956_telegram_icon.svg" alt=""></a>
        </div>
        <div class="box">
            <h1>Saytım Xəritəsi</h1>
            <a href="" class="btn">Məhsullar</a>
            <a href="" class="btn">Brendlər</a>
            <a href="" class="btn">Haqqımızda</a>
        </div>
        <div class="box">
            <h1><img src="../../static/media/logowh.svg" alt=""></h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora possimus dolorum corporis quae error veritatis, nihil eos velit, dignissimos maxime dolore sunt nisi! Tempore ea similique debitis, asperiores laborum incidunt!</p>
        </div>
    </div>
    <hr>
    <div class="lastText">
        <p>{% trans 'Bütün hüquqlar EuroFood-20 tərəfindən qorunur' %} &copy; {% now "Y" %}</p>
    </div>
</footer>