{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <main>
        <div class="welcomeCarusel welcomeCaruselWeb">
            {% for post in coverImages %}
                <div>
                    <img src="{{post.img}}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="welcomeCarusel welcomeCaruselMob">
            {% for post in coverImages %}
                <div>
                    <img src="{{post.img_mob}}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="contentHead">
            <p>{% trans 'Yeni gələn məhsullar' %}</p>
            <a href="{% url 'productspage' %}">{% trans 'Bütün məhsullar' %} <i class="bi bi-arrow-right-short"></i></a>
        </div>
        <div class="productsBlock">
            {% include 'addons/card.html' %}
        </div>
        <div class="contentHead">
            <p>{% trans 'Bölmələr' %}</p>
            <a href="{% url 'productspage' %}">{% trans 'Bütün məhsullar' %} <i class="bi bi-arrow-right-short"></i></a>
        </div>
        <div class="categories">
            {% for post in categories %}
                <div>
                    <div class="category">
                        <a href="{% url 'categoriesdetail' post.id %}">
                            <div class="img">
                                <img src="{{post.icon}}" alt="icon">
                            </div>
                            <div class="info">
                                <div class="name">{{post.name}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- <div class="contentHead">
            <p>{% trans 'Ən çox satılanlar' %}</p>
            <a href="{% url 'productspage' %}">{% trans 'Bütün məhsullar' %} <i class="bi bi-arrow-right-short"></i></a>
        </div>
        <div class="brandsBlock">
            {% for post in products %}
                <div>
                    <p>{{post.name}}</p>
                </div>
            {% endfor %}
        </div> -->
    </main>
{% endblock %}