{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <main>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">{% trans 'Əsas səhifə' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'productspage' %}">{% trans 'Bütün məhsullar' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'categoriesdetail' object.category.id %}">{{object.category}}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'brandsdetail' object.brand.id %}">{{object.brand}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
            </ol>
        </nav>
        <div class="postPage">
            <div class="postFloat1">
                <div class="img">
                    <img src="{{object.img}}" alt="">
                </div>
                <div class="info">
                    <h3><b>{{object.name}}</b></h3>
                    <h4><a href="#">{% trans 'Brend' %}: {{object.brand}}</a></h4>
                    <h4><a href="#">{% trans 'Bölmə' %}: {{object.category}}</a></h4>
                    {{object.desc | safe}}
                </div>
            </div>
        </div>
    </main>
{% endblock %}